<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <th:block th:insert="~{fragments/general :: head}"></th:block>
    <title>Catálogo</title>
</head>
<body>
    <header th:insert="~{fragments/header :: header}"></header>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Catálogo de Veículos</h1>
            </div>
        </div>
        <div class="row">
            <div th:each="veiculo: ${veiculos}" class="card mt-3" style="width: 18rem;">
                <img
                        src="https://images.unsplash.com/photo-1536196000545-2293bf37f22f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJlbnQlMjBhJTIwY2FyfGVufDB8fDB8fHww"
                        class="card-img-top"
                        alt="Car image"
                        height="300px"
                >
                <div class="card-body">
                    <h5 class="card-title" th:text="${veiculo.getModelo()}"></h5>
                    <p class="card-text" th:text="${veiculo.getDescricao()}"></p>
                    <a th:href="@{/veiculo/alugar/{id}(id=${veiculo.getId()})}" class="btn btn-primary">Alugar este modelo</a>
                </div>
            </div>
        </div>
    </div>

    <th:block th:insert="~{fragments/general :: jquery-plugin}"></th:block>
    <th:block th:insert="~{fragments/general :: js-bootstrap}"></th:block>
</body>
</html>